.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

.*
!.gitignore
!.bowerrc

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

*node_modules*
*gh-cache*
*build*
