extends ../partials/layout.jade

block title
  title Contact us | VacayKit

block content
  
  header.contacts-bg

    +header_navigation('Contact us')

    .wrapper
      h2.title Contact us

  section.contacts

    h2.contacts__title We would be incredibly happy to hear from you personally!

    p If you have any questions, ideas, suggestions, comments, or criticism, please feel free to contact us here directly.

    form.contacts__form(action="/contact/", method="post")
      fieldset
        input(type="text", placeholder="Name", name="name", value="", required="required")
        input(type="email", placeholder="Email", name="email", value="", required="required")
      fieldset
        textarea(name="message", cols="30", rows="10", placeholder="Your message", required="required")
      fieldset
        button(type="submit") Send

  section.contacts.contacts_success
    p Thanks for your feedback
