extends ../partials/layout.jade

block title
  title About | VacayKit

block content
  header.content-bg

    +header_navigation('About')

    .wrapper
      h2.title About

  section.text-page

    blockquote
      p Live, travel, adventure, bless, and don’t be sorry.
      cite — Jack Kerouac


    p Have you ever wondered what type of traveler you are? Traveling is a perfect way to escape from the daily grind and jump into a truly unknown adventure, full of exciting experiences that await you. As our lifetimes are limited, vacations are a fantastic opportunity to try and learn something new and maybe even risky; they’re a chance to step outside of your comfort zone! There’s nothing quite like that special feeling when you do something new for the first time, savoring the moment as a true explorer.

    p When most people plan their holidays, they desperately try to fit in as many activities as possible, in order to deeply discover the country they’re visiting, enhance their emotions and bring their experience to the next level. Walking city streets, scuba diving, trekking through jungles, caving, surfing, hiking mountains - why not do all of this in one vacation?  However, to thoroughly enjoy adventures, careful preparation is necessary.

    p When we travel, we think hard about what we might need and usually buy a lot of stuff in advance. It doesn’t have to be something grand or expensive; it could just be something that helps us to relax and not worry about any possible hardships we’ll face while traveling. For example, if you go trekking in a rainforest, it’s very convenient to have water-resistant covers for your bags (e.g. a big backpack, a daypack and a camera bag). Instead of buying expensive waterproof bags, you can just have a hardy trash bag made from thick plastic. If you plan ahead and gather this in advance, together with good packing tape and a knife, you’ll have nothing to worry about if you experience heavy rain during your jungle trip!

    p Whenever we prepared for our vacations, we would browse multiple travel forums regarding what to pack, so that nothing could distract us from having an amazing time. However, we were left wondering why, in the whole world-wide web, there is no resource which helps travelers pack their bags with the things they’ll need to make life easier. “If you want a thing done well, do it yourself,” Napoleon Bonaparte once said. And so, we decided to create a website that saves you time and gives you a complete packing list of everything you’ll need to have the experience of a lifetime when traveling!

    p If you find this project interesting and useful, we’d love to receive your feedback. Simply share your opinion by contacting us here.

    p Welcome to Vacay Kit!

  section.team

    h2.team__title Our team

    .team__persons

      article.team__person
        a(href="http://annanazarova.com/blog" target="_blank")      
          img.team__photo(src="/images/photos/photo-1.jpg", alt="Anna")
        h2.team__name Anna
        h3.team__role Co-founder, Editor
        nav.team__social
          a.fb(href="https://www.facebook.com/annannazarova")


      article.team__person
        img.team__photo(src="/images/photos/photo-2.jpg", alt="Anton")
        h2.team__name Anton
        h3.team__role Co-founder

      article.team__person
        img.team__photo(src="/images/photos/photo-3.jpg", alt="Gene")
        h2.team__name Gene Boyle
        h3.team__role UI Designer
        nav.team__social
          a.tw(href="https://twitter.com/gene_boyle")

      article.team__person
        img.team__photo(src="/images/photos/photo-4.jpg", alt="Dianna")
        h2.team__name Dianna
        h3.team__role Graphic Designer
        nav.team__social
          a.fb(href="https://www.facebook.com/diana.grigoryan.5")
          a.pi(href="#")
          
      article.team__person
        a(href="http://silentimp.info/" target="_blank")
          img.team__photo(src="/images/photos/photo-7.jpg", alt="Anton")
        h2.team__name Anton
        h3.team__role Frontend Developer
        nav.team__social
          a.fb(href="https://www.facebook.com/SilentImp")
          a.tw(href="https://twitter.com/silentimp")

      article.team__person
        img.team__photo(src="/images/photos/photo-5.jpg", alt="Laura")
        h2.team__name Laura
        h3.team__role Editor
        nav.team__social
          a.gp(href="https://plus.google.com/117891567181232901545/")

      article.team__person
        a(href="http://www.rebeccaontheroad.com/")
          img.team__photo(src="/images/photos/rebecca.jpg", alt="Rebecca")
        h2.team__name Rebecca
        h3.team__role Editor
        nav.team__social
          a.tw(href="https://twitter.com/reschroe")
          a.gp(href="https://plus.google.com/+BeckySchroeder1")

