extends ../partials/layout.jade

block content

  header.landing-bg

    +header_navigation

    .wrapper
      h2.title Plan less, vacation more!

  section.landing
    p.landing__message VacayKit is a simple online app designed to deliver customized travel kits for unique holiday activities anywhere you want to go in the world. Pick your destination, grab your vacation kits, and have the holiday experience of a lifetime!
    
    form.landing__selector(action="/show/kit/", method="post")
      label(for='kit-selector') I'm travelling to
      select(id="kit-selector", data-select="true")
        option(value="1") Long Flight
        option(value="2") Thailand
        option(value="3") Sri Lanka
        option(value="4") Ecuador
        option(value="5") Germany
        option(value="6") Swiss Confederation
        option(value="7") Russia
        option(value="8") Urugvay
        option(value="9") France
        option(value="10") Perda de la Villa de la papa de mama
          
      button(type="submit") Get my Packing List
      
  section.featured
    h2.featured__title Featured travel kits
    
    article.featured__item
      a.featured__link(href="#")
        img.featured__photo(src="/images/places/place-1.jpg", alt="Фотография")
        .featured__details
          img.featured__kit-icon(src="/images/kiticon-1.png", alt="Иконка")
          h3.featured__kit-name Long Flight
          p.featured__kit-count 8 items
          
    article.featured__item
      a.featured__link(href="#")
        img.featured__photo(src="/images/places/place-2.jpg", alt="Фотография")
        .featured__details
          img.featured__kit-icon(src="/images/kiticon-2.png", alt="Иконка")
          h3.featured__kit-name Thailand
          p.featured__kit-count 15 activities, 45 items
          
    article.featured__item
      a.featured__link(href="#")
        img.featured__photo(src="/images/places/place-3.jpg", alt="Фотография")
        .featured__details
          img.featured__kit-icon(src="/images/kiticon-3.png", alt="Иконка")
          h3.featured__kit-name Sri Lanka
          p.featured__kit-count 12 activities, 50 items
          
    article.featured__item
      a.featured__link(href="#")
        img.featured__photo(src="/images/places/place-4.jpg", alt="Фотография")
        .featured__details
          img.featured__kit-icon(src="/images/kiticon-4.png", alt="Иконка")
          h3.featured__kit-name Ecuador
          p.featured__kit-count 10 activities, 50 items
          
    article.featured__item
      a.featured__link(href="#")
        img.featured__photo(src="/images/places/place-5.jpg", alt="Фотография")
        .featured__details
          img.featured__kit-icon(src="/images/kiticon-5.png", alt="Иконка")
          h3.featured__kit-name Germany
          p.featured__kit-count 14 activities, 32 items
          
    article.featured__item
      a.featured__link(href="#")
        img.featured__photo(src="/images/places/place-6.jpg", alt="Фотография")
        .featured__details
          img.featured__kit-icon(src="/images/kiticon-6.png", alt="Иконка")
          h3.featured__kit-name Swiss Confederation
          p.featured__kit-count 8 activities, 34 items
