@import "../helpers/*"

.body-disclaimer
  font-size 14px
  line-height 17px
  color $grey-third
  margin 0 0 30px 30px


@media (max-width: 740px)
  .body-disclaimer
    font-size 11px
    line-height 13px
    margin 0 0 30px
