@import "../helpers/*"

.disclaimer
  position absolute
  bottom 56px
  right 0
  left 0
  height 34px
  background-color $some-grey
  padding 11px 50px 11px 70px
  line-height 34px
  &__wrapper
    font-size 14px
    line-height 17px
    display inline-block
    vertical-align middle
