@import "../helpers/*"

html body .social-likes
  margin 2px 0 24px
  pointer-events all
  clearit()
  *
    pointer-events all

  &.social-likes_vertical
    .social-likes__widget
      min-width initial
      margin 0 0 2px


  &_alone
    margin 0 0 30px 30px

  &_mobile
    display none

  &__widget
    margin 0 2px 0 0
    float left
    transition background-color .15s
    &_facebook
      background-color #325a97
      &:hover
        background-color #233f69
    &_twitter
      background-color #00aced
      &:hover
        background-color #0080b0
    &_pinterest
      background-color #cc2127
      &:hover
        background-color #97181d

  &__button
    line-height 35px
    font-size 13px
    font-weight 300
    padding 0 10px 0 30px
    -webkit-font-smoothing auto

  &__icon
    left 8px
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

@media (max-width: $laptop)
  html body .social-likes
    margin 0 0 30px

@media (max-width: 940px)
  html>body .social-likes
    display none
    &_both,
    &_mobile
      display block


#social
	width: 100%
	display: block
	margin-top: 50px
	height: 140px


#likearticle h3, #likesite h3
	font-size: 19px
	font-weight: bold
	margin-bottom: 15px

#likearticle
	width:47%
	float:left
	text-align: right;

#likesite
	width:47%
	float:right
	text-align: left



.fb-like iframe
	max-width: none!important;


@media (max-width: 740px)
	#likearticle h3, #likesite h3
		font-size: 15px
		font-weight: bold
		margin-bottom: 11px
